/* Custom scrollbar styles */
.scroll-thin::-webkit-scrollbar {
    width: 4px;
}

.scroll-thin::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scroll-thin::-webkit-scrollbar-track {
    background: transparent;
}