.goog-te-gadget-simple{
    display: flex !important;
    background-color: #ffedd5 !important;
    padding: 10px 5px !important;
}

.goog-te-gadget-simple span a{
    display: flex !important;
}

/*.skiptranslate:nth-child(0){*/
/*    display: none !important;*/
/*}*/

.google_translate_element{
    /*position: relative !important;*/
    /*top: -20px !important;*/
}
